html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 16px;
  transition: ease-out 0.15s;
}

body {
  --bg-primary: rgb(255, 255, 255);
  --bg-secondary: rgb(245, 245, 245);
  --text-primary: rgb(0, 0, 0);
  --cta-primary: rgba(0, 0, 0, 0.85);
  --cta-hover: rgba(0, 0, 0, 0.75);
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  height: 100%;
  background-color: var(--bg-secondary);
  color: var(--text-primary);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body.theme-dark {
  --bg-primary: rgb(25, 31, 41);
  --bg-secondary: rgb(9, 15, 24);
  --text-primary: rgb(214, 219, 225);
  --cta-primary: rgba(192, 217, 249, 0.75);
  --cta-hover: rgba(245, 249, 255, 0.9);
}

@media (prefers-color-scheme: dark) {
  body {
    --bg-primary: rgb(25, 31, 41);
    --bg-secondary: rgb(9, 15, 24);
    --text-primary: rgb(214, 219, 225);
    --cta-primary: rgba(192, 217, 249, 0.75);
    --cta-hover: rgba(245, 249, 255, 0.9);
  }

  body.theme-light {
    --bg-primary: rgb(255, 255, 255);
    --bg-secondary: rgb(245, 245, 245);
    --text-primary: rgb(0, 0, 0);
    --cta-primary: rgba(0, 0, 0, 0.85);
    --cta-hover: rgba(0, 0, 0, 0.75);
  }
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: var(--bg-primary);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
}

header .wrapper {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0 1rem;
  max-width: 32rem;
}

header .wrapper > p {
  margin: 1rem 0;
}

header .theme-toggle {
  display: flex;
  justify-content: center;
  flex-direction: column;
  cursor: pointer;
}

main {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main > div {
  padding: 2rem 4rem;
  border-radius: 2rem;
  background-color: var(--bg-primary);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

main > div > p {
  margin: 0 0 2rem;
  font-size: 1.5rem;
}

.darkmode-icon {
  display: flex;
  justify-content: center;
}

.social-icons {
  display: flex;
  justify-content: space-evenly;
}

.social-icons a,
header .theme-toggle {
  transition: ease-out 0.2s;
  color: var(--cta-primary);
}

.social-icons a:hover,
header .theme-toggle:hover {
  color: var(--cta-hover);
}

footer {
  position: fixed;
  bottom: 0;
  padding: 0.75rem 0;
  background-color: var(--bg-primary);
  width: 100%;
  text-align: center;
}

footer > p {
  font-size: 0.75rem;
  margin: 0;
}
